.highlights ul {
  list-style: disc;
}

.highlights ul li {
  margin: 0.5rem 1rem;
}

.paragraphs p {
  margin: 1rem 0;
}

.content-slide-and-fade {
  position: relative;
  left: 200px;
  opacity: 0;
}

@keyframes intro {
  from {
    left: 200px;
    opacity: 0;
  }

  to {
    left: 0px;
    opacity: 1;
  }
}

.swiper-slide-active .content-slide-and-fade {
  animation-name: intro;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
  animation-play-state: running;
}