.highlights ul {
  list-style: disc;
}

.highlights ul li {
  margin: 0.5rem 1rem;
}

.paragraphs p {
  margin: 1rem 0;
}

.slide-effect {
  position: relative;
  left: 100px;
}

@keyframes slide {
  from {
    left: 100px;
  }

  to {
    left: 0px;
  }
}

.swiper-slide-active .slide-effect {
  animation-name: slide;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.thumbs {
  opacity: 0;
  transition: opacity 0.6s ease-in 0.6s;
}

.swiper-slide-active .thumbs {
  opacity: 1;
}

.more-button {
  opacity: 0;
  transition: opacity 0.8s ease-in 0.2s;
}

.swiper-slide-active .more-button {
  opacity: 1;
}

.breadcrumb {
  opacity: 0;
  transition: opacity 0.8s ease-in 0.3s;
}

.swiper-slide-active .breadcrumb {
  opacity: 1;
}

.loading-more-button {
  opacity: 0;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.loading-more-button {
  animation-name: fade;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-direction: normal;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
  animation-play-state: running;
}